/* Coin List */
#coin-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
    justify-content: center;
}

#coin-list label {
    background-color: #222;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    border: 2px solid #0ff;
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#coin-list label:hover {
    background-color: #333;
    color: #ff0099;
}

#coin-list input[type="checkbox"] {
    margin-right: 10px;
}
